<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Restro App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        </style>
</head>
<body >
        <nav class="container max-w-full flex items-center justify-between py-4">
            <div class="flex items-center">
                <img class="w-10 h-10 mx-5  rounded" src="/img/logo.webp"alt="logo" >
                <p class="text-indigo-900 font-bold text-2xl">Restro</p>
            </div>
            <div>
                <ul class="flex items-center">
                    <li class="ml-6"><a href="#">Menu</a></li>
                    <li class="ml-6"><a href="#">Offer</a></li>
                    <% if(user) { %>

                    <li class="ml-6">
                        <form id="logout" action="/logout" method="POST"></form>
                        <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                    </li>

                    <% } else { %>

                    <li class="ml-6"><a href="/register">Register</a></li>
                    <li class="ml-6"><a href="/login">Login</a></li>
                    <% } %>
                    <li class="ml-6"><a href="/cart">
                        <span id="cartCounter" class="font-bold"><%= session.cart ? session.cart.totalQty :'' %></span>
                        <img class="inline-block w-6 h-6 mr-4 "src="/img/shopping-cart.webp" alt="">
                       </a></li>
                </ul>
            </div>
        </nav>
        <%- body %>
        
        
    <script src="/js/app.js"></script>
</body>

</html>